
/* 테마별 배경색 + 텍스트 */
.theme-normal {
    color: #000;
    background-color: var(--normal-back);
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.theme-dark {
    color: #eee;
    background-color: var(--dark-back);
    border: 1px solid rgba(255,255,255,.3);
}
.theme-neon {
    color: var(--neon-green);
    background-color: var(--dark-back);
    border: 1px solid rgba(255,255,255,.1);
}

/* hover 효과 */
.theme-normal:hover {
    box-shadow:
        0 0 4px var(--black_70),
        0 0 8px var(--black_50),
        0 0 12px var(--black_30),
        0 0 20px var(--black_10);
}
.theme-normal.reverse:hover {
    box-shadow:
        0 0 4px var(--white_70),
        0 0 8px var(--white_50),
        0 0 12px var(--white_30),
        0 0 20px var(--white_10);
}
.theme-dark:hover {
    box-shadow:
        0 0 4px var(--white_70),
        0 0 8px var(--white_50),
        0 0 12px var(--white_30),
        0 0 20px var(--white_10);
}
.theme-dark.reverse:hover {
    box-shadow:
        0 0 4px var(--black_70),
        0 0 8px var(--black_50),
        0 0 12px var(--black_30),
        0 0 20px var(--black_10);
}
.theme-neon:hover {
    box-shadow:
        0 0 4px var(--neon-green-strong),
        0 0 8px var(--neon-green-medium),
        0 0 12px var(--neon-green-light),
        0 0 20px var(--neon-green-faint);
}

/* on 효과 */
.theme-normal.on {
    box-shadow:
        0 0 4px var(--black_70),
        0 0 8px var(--black_50),
        0 0 12px var(--black_30),
        0 0 20px var(--black_10);
}
.theme-normal.on.reverse {
    box-shadow:
        0 0 4px var(--white_70),
        0 0 8px var(--white_50),
        0 0 12px var(--white_30),
        0 0 20px var(--white_10);
}
.theme-dark.on {
    box-shadow:
        0 0 4px var(--white_70),
        0 0 8px var(--white_50),
        0 0 12px var(--white_30),
        0 0 20px var(--white_10);
}
.theme-neon.on {
    box-shadow:
        0 0 4px var(--neon-green-strong),
        0 0 8px var(--neon-green-medium),
        0 0 12px var(--neon-green-light),
        0 0 20px var(--neon-green-faint);
}
.theme-dark.on.reverse {
    box-shadow:
        0 0 4px var(--black_70),
        0 0 8px var(--black_50),
        0 0 12px var(--black_30),
        0 0 20px var(--black_10);
}

@media (hover: none) {
    .theme-normal:hover:not(.on),
    .theme-dark:hover:not(.on),
    .theme-neon:hover:not(.on) {
        box-shadow: none !important;
    }
}