.card {
    width: 100%;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow:
        0 0 6px var(--black_70),
        0 0 12px var(--black_50),
        0 0 24px var(--black_30),
        0 0 36px var(--black_10);
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.4s ease forwards;
}

.card.neon {
    box-shadow:
        0 0 6px var(--neon-green-strong),
        0 0 12px var(--neon-green-medium),
        0 0 24px var(--neon-green-light),
        0 0 36px var(--neon-green-faint);
    transition: box-shadow 0.5s ease-in-out;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}