.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: var(--white_70) !important;
}

.card-wrap {
    border-radius: 10px;
    box-shadow:
            0 0 6px var(--black_70),
            0 0 12px var(--black_50),
            0 0 24px var(--black_30),
            0 0 36px var(--black_10);
}

.card-wrap.dark {
    box-shadow:
            0 0 6px var(--white_70),
            0 0 12px var(--white_50),
            0 0 24px var(--white_30),
            0 0 36px var(--white_10);
}

.card-wrap.neon {
    box-shadow:
            0 0 6px var(--neon-green-strong),
            0 0 12px var(--neon-green-medium),
            0 0 24px var(--neon-green-light),
            0 0 36px var(--neon-green-faint);
    transition: box-shadow 0.5s ease-in-out;
}
.card.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.dark,
.card.neon {
    background-color: var(--black_70) !important;
}

/* PC/태블릿 (769px 이상) */
@media (min-width: 769px) {
    /* PC/태블릿용 스타일 */
    .card {
        padding: 1.5rem 3rem;
    }
}

/* 모바일 세로 (<=768px, portrait) */
@media (max-width: 768px) and (orientation: portrait) {
    /* 모바일 세로용 스타일 */
    .card,
    .card-wrap {
        border-radius: 0;
    }
}

/* 모바일 가로 (<=768px, landscape) */
@media (max-width: 1024px) and (orientation: landscape) {
    /* 모바일 가로용 스타일 */
    .card,
    .card-wrap {
        border-radius: 0;
    }
}