.input-base {

}

.input-base:focus {
    outline: none;
}

.input-base.box {
    border-radius: 5px;
    box-shadow: 1px 1px 0 1px var(--black_10);
}

.input-base.underline {
    background: transparent;
    border: none;
}

.input-base.error {
    border: 1px solid rgba(255, 0, 0, .3) !important;
    box-shadow:
        0 0 4px rgba(255, 0, 0, .5),
        0 0 8px rgba(255, 0, 0, .3);
}

/* 테마별 배경색 + 텍스트 */
.theme-normal {
    color: #000;
    background-color: var(--normal-back);
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.theme-normal::placeholder {
    color: var(--black_50);
}
.theme-dark {
    color: #eee;
    background-color: var(--dark-back);
    border: 1px solid rgba(255,255,255,.3);
}
.theme-dark::placeholder {
    color: var(--white_50);
}
.theme-neon {
    color: #eee;
    background-color: var(--dark-back);
    border: 1px solid rgba(255,255,255,.3);
}
.theme-neon::placeholder {
    color: var(--white_50);
}

.input-base.underline.theme-normal {
    border-bottom: 1px solid black;
}
.input-base.underline.theme-dark {
    border-bottom: 2px solid var(--white_70);
}
.input-base.underline.theme-neon {
    border-bottom: 2px solid var(--neon-green-medium);
}