.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--vh);
    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center;
    z-index: 9998;
}

.backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.spinnerWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}