.theme-div.normal {
    color: #000;
    backdrop-filter: blur(8px);
    background-color: var(--normal-back);
    border: 1px solid rgba(0,0,0,.1);
}

.theme-div.dark {
    color: #dedede;
    backdrop-filter: blur(2px);
    background-color: var(--dark-back);;
    border: 1px solid rgba(255,255,255,.1);
}

.theme-div.neon {
    color: #dedede;
    backdrop-filter: blur(2px);
    background-color: var(--dark-back);;
    border: 1px solid rgba(255,255,255,.1);
}

.theme-div.normal.is-children {
    background-color: rgba(245, 245, 245, 0.9)
}

.theme-div.dark.is-children,
.theme-div.neon.is-children {
    background-color: rgba(64, 64, 64, 0.9);
}

