.layout-grid {
    display: grid;
    height: calc(var(--vh, 1vh) * 100);
    grid-template-rows: 4% 92% 4%;
    grid-template-columns: 8% 84% 8%;
    grid-template-areas:
        "header-left header-center header-right"
        "main-left main-center main-right"
        "footer-left footer-center footer-right";
}

.bg-image {
    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center;
    /* CSS 변수가 none일 때 기본 배경색 설정 */
    background-color: #0a0a0a;
}

/* grid-area 지정 클래스들 */
.header-left {
    grid-area: header-left;
}

.header-center {
    grid-area: header-center;
}

.header-right {
    grid-area: header-right;
}

.main-left {
    grid-area: main-left;
}

.main-center {
    grid-area: main-center;
    height: 100%;
    min-height: 0;
}

.main-center.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-right {
    grid-area: main-right;
}

.footer-left {
    grid-area: footer-left;
}

.footer-center {
    grid-area: footer-center;
}

.footer-right {
    grid-area: footer-right;
}

/* PC/태블릿 (769px 이상) */
@media (min-width: 769px) {
    /* PC/태블릿용 스타일 */

}

/* 모바일 세로 (<=768px, portrait) */
@media (max-width: 768px) and (orientation: portrait) {

    /* 모바일 세로용 스타일 */
    .layout-grid {
        grid-template-rows: minmax(5vh, 5%) minmax(80vh, 90%) minmax(5vh, 5%);
        grid-template-columns: 100%;
        grid-template-areas:
            "header-center"
            "main-center"
            "footer-center";
    }

    .layout-grid>.card {
        border-radius: 0;
    }
}

/* 모바일 가로 (<=768px, landscape) */
@media (max-width: 1024px) and (orientation: landscape) {

    /* 모바일 가로용 스타일 */
    .layout-grid {
        grid-template-rows: 1fr;
        grid-template-columns: 5% 90% 5%;
        grid-template-areas:
            "main-left main-center main-right"
    }

    .layout-grid>.card {
        border-radius: unset;
    }
}